body {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  padding-top: 30px;
}

h2 {
  font-size: 54px;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0;
}

h3 {
  font-size: 44px;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

h4 {
  font-size: 32px;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0;
}

h6 {
  font-size: 15px;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12em;
  text-transform: none;
  text-decoration: none;
  color: #7b88a8;
  margin: 0;
}

.logo-image {
  padding-left: 30px;
  padding-right: 500px;
}

.navbar-header {
  width: 100%;
  position: sticky;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  margin: 0;
}

.navbar-item {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: #5D5CA1;
  margin-left: 47px;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: normal;
}

.first-section {
  background-color: #E8EBED;
  padding-bottom: 5%;
}

.table-heading {
  padding-left: 10%;
}

.big-heading {
  padding-left: 8%;
  padding-top: 10%;
}

.heading-item {
  padding-left: 8%;
}

.profile-item {
  padding-left: 60%;
  padding-top: 30%;
}

.title-image {
  width: 400px;
  position: relative;
  border-radius: 25%;
  object-fit: cover;
}

.email-button, .submit-button {
  background-color: #565594;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 42px;
  text-decoration: none;
}

.contact-item {
  padding-left: 12%;
}

.contact-link {
  color: #5D5CA1;
  text-decoration: none;
}

.aboutme-item {
  padding: 180px 80px;
  column-count: 2;
  column-gap: 20%;
  text-align: justify;
  font-family: "Nunito Sans",sans-serif;
  color: #191D26;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}

.aboutme-image {
  width: 380px;
  border-radius: 8%;
  margin-left: 30px;
  margin-bottom: 30px;
}

.third-section {
  background-color: #E8EBED;
  text: left;
  position: relative;
  padding: 100px;
}

.row-experience {
  font-family: "Nunito Sans",sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 260px;
  padding-bottom: 150px;
}

.row-education {
  font-family: "Nunito Sans",sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 120px;
  padding-bottom: 150px;
}

.row-courses {
  font-family: "Nunito Sans",sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 260px;
  padding-bottom: 100px;
}

.item1 {
  grid-column: 1 / span 2;
}

.four-section {
  background-color: #565594;
  padding: 200px 300px 200px 50px;
  color: #fff;
}

.five-section {
  padding-top: 7%;
  padding-left: 3%;
  background-color: #E8EBED;
}

.row-testimonial {
  padding: 5%;
  text-align: justify;
}

.testimonial-image {
  width: 70%;
  border-radius: 7%;
}

.six-section {
  padding-top: 7%;
  padding-left: 3%;
}

.form-table {
  padding: 5% 5% 10% 5%;
}

.input-label {
  width: 180%;
  height: 20px;
  background-color: #F1F1F1;
  border: none;
  outline: none;
  padding: 16px 56px 16px 16px;
}

.input-textarea {
  width: 180%;
  height: 90px;
  background-color: #F1F1F1;
  border: none;
  outline: none;
  padding: 16px 56px 16px 16px;
  font-family: "Roboto", sans-serif;
}

.form-image {
  width: 340px;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 420px;
  border-radius: 25%;
  font-family: "Roboto", sans-serif;
}

.seven-section {
  background-color: #565594;
  color: #fff;
  padding: 10%;
}

.footer-link {
  border: : 30%;
}

.footer-link td {
  padding-right: 10px;
  padding-left: 200px;
  color: #fff;
}

.social-link {
  color: #fff;
}
